<header>
    <nav class="navbar">
      <a href="" ><img  src="assets/logo.png" width="100px" alt="Logo"></a>
      <ul>
        <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Acceuil</a></li>
        <li><a routerLink="listePostulant" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Liste Postulant</a></li>
        <li><a routerLink="tirage" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Tirage</a></li>
        <li><a routerLink="detailsTirage" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Détails Du Tirage</a></li>
    </ul>
    </nav>
  </header>  

