<header>
    <nav class="navbar">
      <a href="" ><img  src="assets/logo.png" width="100px" alt="Logo"></a>
      <ul>
        <li><a routerLink="" routerLinkActive="{exate:true}">Acceuil</a></li>
        <li><a routerLink="listePostulant" routerLinkActive="{exate:true}"> Liste Postulant</a></li>
        <li><a routerLink="tirage" routerLinkActive="{exate:true}">Tirage</a></li>
        <li><a routerLink="detailsTirage" routerLinkActive="{exate:true}"> Détails Du Tirage</a></li>
    </ul>
    </nav>

  
  </header>  

