<div class="entete">
  <h1>La liste des Postulants</h1>
</div>
<div class="container">
  <table class ="table">
    <thead>
      <tr>
        <th> N° </th>
        <th> Nom</th>
        <th> Prenom</th>
        <th> Email</th>
        <th> Numero</th>
        <th> Libellé</th>
      </tr>
    </thead>
    <div class="row">
        <input type="text" placeholder="Search" [(ngModel)]= "searchText"/>
      </div>
    <tbody>
      
      <tr *ngFor = "let postulant of postulants|filter:searchText| paginate:{itemsPerPage:5,currentPage: p}; let i= index" >
        <td>{{postulant.id_postulant}}</td>
        <td>{{postulant.nom}}</td>
        <td>{{postulant.prenom}}</td>
        <td>{{postulant.email}}</td>
        <td>{{postulant.numero}}</td>
        <td>{{postulant.listePostulant.libele}}</td>
      </tr>
    </tbody>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </table>
  <div class="bt"> 
    <button class="p" (click)="onPrecedent()"><< précédant </button>
     <button class="s" (click)="onSuivant()"> suivant >></button>
   </div>
   <div class="containe">
      <ul class="pagination">
        <li><a href="#">Précedant</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">Suivant</a></li>

      </ul>

   </div>

</div>

