<div class="entete">
  <h1>La liste des Postulants</h1>
</div>
<div class="container">
  <table class ="table">
    <thead>
      <tr>
        <th> N° </th>
        <th> Nom</th>
        <th> Prenom</th>
        <th> Email</th>
        <th> Numero</th>
        <th> Libellé</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let postulant of postulants" >
        <td>{{postulant.id_postulant}}</td>
        <td>{{postulant.nom}}</td>
        <td>{{postulant.prenom}}</td>
        <td>{{postulant.email}}</td>
        <td>{{postulant.numero}}</td>
        <td>{{postulant.listePostulant.libele}}</td>
      </tr>
    </tbody>
  </table>
</div>

