<body>
<div id="container">
  <div class="formulaire">
      <div class="container">
        <form (ngSubmit)= "onSubmit()" class="monForm">
          <div>
            <label for="libelle-tirage">Libellé Tirage: </label>  
            <input type="text" id="libelle-tirage" name="libelle-tirage" 
            [(ngModel)]= "tirage.libele" />  
          </div>
          <div>
            <label for="libelle-liste">Libellé Liste: </label>  
            <select name="Libellé" id="id-liste"><br>
              <option value="choix">Fait ton choix</option><br>
              <option *ngFor= "let listepostulant of listepostulants" [ngValue]="listepostulant.id_liste_postulant">{{listepostulant.libele}}</option>
            </select>
          </div>
          <div>
            <label for="libelle-liste">Nombre de Postulant: </label>
            <input type="number" id="nombre" name="nombre" 
            [(ngModel)]= "tirage.n_tirage"/> <br/>  
            <label for="file" class="label-file">Importer un fichier</label>
            <input type="file" (change)="onFileChange($event)" multiple="false" accept=".xlsx"/>
          </div>
        </form>
      </div>
  </div>
  </div>
  <div class="bton"><div class="import"><button (click)="onImporter()">Voire la Liste Importée</button>
    <!--<table>
                <thead>
                   <tr>
                     <th>Nom</th>
                    <th>Prénom</th>
                    <th>Numéro</th>
                    <th>Email</th>
                 </tr>
                 </thead>
                <tbody>
                  <tr *ngFor="let row of data">
                  <td *ngFor="let cell of row ">
                    {{cell}}
                    </td>
                    </tr>
                    </tbody>
                    </table>-->
                  </div>
  <div class="tries"><button (click)="onlistetrier()" type="submit">Tire Au Sort</button></div></div>
  

  