*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
    color: #FFF;
    line-height: 3em;
}

  .import{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;

    
  }
   .tries{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
    
  }
  button {
    font-size: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
  border: #555;
  border-radius: 10%;
  width: 200px;
     height: 25px;
  }
  
 input, label, select {
    width: 200px;
     height: 25px;
     text-align: left;
 }
 option, input{
  width: 20;
  height: 30;
 }
 .fomrtImport{


/* width: 600px;  position: absolute; */
height: 400px;    margin-top: 55px;
width: 30%;
background-color: #555;
font-size: 20px;
border-radius: 10px;
box-shadow: 3px 2px;
 }
 .container {
  /* border: #555 solid;
  width: 600px;
height: 400px;
margin-left: 30%;
background-color: #555;
font-size: 20px;
align-content: center;
margin-top: 5%;
border-radius: 80px / 90px; */

border: #555 solid; width: 35%;
margin: 2%; 
border-radius: 10px;
box-shadow: 3px 2px;
/* width: 600px; position: absolute; */
height: 400px;
background-color: #555;
font-size: 20px;
/* align-content: center; */
margin-top: 5%;
/* border-radius: 80px / 90px;*/

padding-top: 5px;

}
.formulaire{
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-content: center; 

}
