*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
    color: #FFF;
}
.container {
    border: #000 solid;
    width: 600px;
  height: 400px;
  margin-left: 30%;
  background-color: #555;
  font-size: 20px;
  align-content: center;
  margin-top: 5%;
  border-radius: 30px / 40px;
  
}
  .import{
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .triées{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    font-size: 30px;
  }
  
 input, label {
    width: 200px;
     height: 30px;
 }
 label {
    text-align: center;
 }