<body>
<div id="container">
  <div class="formulaire">
      <div class="container">
        <form (ngSubmit)= "onSubmit()" class="monForm">
          <div>
            <label for="libelle-tirage">Libellé Tirage: </label>  
            <input type="text" id="libelle-tirage" name="libelle-tirage" 
            [(ngModel)]= "tirage.libele" />  
          </div>
          <div>
            <label for="libelle-liste">Libellé Liste: </label>  
            <select [(ngModel)]="choix" name="Libellé" id="id-liste"><br>
              <option *ngFor= "let listepostulant of listepostulants" [ngValue]="listepostulant.libele">{{listepostulant.libele}}</option>
            </select>
          </div>
          <div>
            <label for="libelle-liste">Nombre de Postulant: </label>
            <input type="number" id="nombre" name="nombre" 
            [(ngModel)]= "tirage.n_tirage"/> <br/>  
          </div>
           <div align="center"><button type="submit" class="submit">Tirer au sort</button></div>
           <div>Tirage effectué avec succés</div>
        </form>
        </div>
        <!---------------------------------------------Importation---------------------------------------------->
        <div class="fomrtImport">
        <form  class="monForm2" [formGroup]="formmodule">
         
          <div>
            <label for="libelle-liste">Libellé Liste: </label>  

            <input type="text" name="libele" formControlName="libele" >

          </div>
          <div>
            <label for="file" class="label-file">Importer un fichier</label>
            <input class="fichierImp" type="file" name="file" formControlName="file" (change)="filechange($event)" multiple="false" accept=".xls"/>
          </div>
          <div align="center"><button (click)="ImporterListe()" type="submit" class="submit">Importer</button></div> 
        </form>
      </div>
  </div>
  </div>
  <div class="bton"><div class="import"><button>Voire la Liste Importée</button>
    <!--<table>
                <thead>
                   <tr>
                     <th>Nom</th>
                    <th>Prénom</th>
                    <th>Numéro</th>
                    <th>Email</th>
                 </tr>
                 </thead>
                <tbody>
                  <tr *ngFor="let row of data">
                  <td *ngFor="let cell of row ">
                    {{cell}}
                    </td>
                    </tr>
                    </tbody>
                    </table>-->
                  </div>

  

  