<body>
<div id="container">
  <div class="formulaire">
      <div class="container">
        <form>
          <div>
            <label for="libelle-tirage">Libellé Tirage: </label>  
            <input type="text" id="libelle-tirage" name="libelle-tirage"/>  
          </div>
          <div>
            <label for="libelle-liste">Libellé Liste: </label>  
            <select name="Libellé" id="id-liste">
              <option value="choix">Fait ton choix</option>
              <option value="liste1">Liste1</option>
              <option value="liste1">Liste2</option>
              <option value="liste1">Liste3</option>
              <option value="liste1">Liste4</option>
            </select>
          </div>
          <div>
            <label for="libelle-liste">Nombre de Postulant à tirer: </label>  
            <input type="number" id="nombre" name="nombre"/> <br/>  
          </div>
        </form>
      </div>
  </div>
  </div>
  <div class="mybutton">
    <p class="import"><button (click)="onImporter()">Importer Une Liste</button></p>
   <p class="triées"><button (click)="onlistetrier()">Tire Au Sort</button></p>
</div>


  