 .landing-block {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing-block img{
width: 100%;
margin: 0 40px;

}
 .landing-links {
  width: 100%;
  text-align: center;
  
}

#conteneur
{
    display: flex;
    justify-content: space-between;
}  