landing-block {
  position: absolute;
  /*top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
*/}
.landing-block img{
width: 100%;
margin: 0 40px;

}
 .landing-links {
  width: 100%;
  text-align: center;
  
}

#conteneur
{
    display: flex;
    justify-content: center;
    align-content: center;
    
}  


h1{
  width: 100%;
  background-color: #555;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 200px;
  text-align: center;
  background: #555;
  align-content: center;
  margin: auto;
}
.element {
  border: 3px #555 solid;
  flex-direction: column;
  box-shadow:-15px 15px rgba(5, 5, 5, 0.25);
  margin: 2%;
  padding: 2%;
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td, th
{
    border: 1px solid black;
}
img{ 
  width:100%;
  height:auto;
}

