<div class="landing-block">
    <img src="assets/tirage_au_sort.jpg" alt="Tirage photo">
    <div class="landing-links">
      <h1>Les statistiques</h1>
    </div>
    <div id="conteneur">
       <div class="element">
          <h2>Nombre de Liste Tirées</h2>   
          <div class="circle">25</div>
       </div>
       <div class="element">
          <h2>Nombre Totales de Tirage</h2>  
          <div class="circle">30</div> 
       </div>
       <div class="element">
        <h2>Nombre Triées par Liste</h2>
            <table>
            <tr>
                <th>Liste</th>
                <th>Nombre Postulant</th>
            </tr>
            <tbody>
                <tr>
                    <td>Liste1</td>
                    <td>005</td>
                </tr>
                <tr>
                    <td>Liste2</td>
                    <td>0010</td>
                </tr>
                <tr>
                    <td>Liste1</td>
                    <td>0015</td>
                </tr>
                <tr>
                    <td>Liste1</td>
                    <td>0015</td>
                </tr>
            </tbody>
            </table> 
        </div>
   </div>
  </div>