 .landing-block {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing-block img{
width: 100%;
margin: 0 40px;

}
 .landing-links {
  width: 100%;
  text-align: center;
  
}

#conteneur
{
    display: flex;
    justify-content: space-between;
}  

table
{
    border-collapse: collapse;
    
}
td, th /* Mettre une bordure sur les td ET les th */
{
  border: 1px solid black;
}

th {
  background-color: #555;
}
.element1, .element2, .element3 {
  border: 3px #000 solid;
}

#conteneur
{
    display: flex;
}

.element
{
    margin: auto;
}