<div class="landing-block">
    <img class="pt" src="assets/tirage_au_sort.jpg" alt="Tirage photo ">
    <div class="entete">

        <h1> Les Statistiques</h1><br>
       

       </div> 
    <div id="conteneur">
       <div class="element">
          <h2>Nombre de Liste Tirées</h2>   
          <div class="circle">{{nombretotaliste}}</div>
       </div>
       <div class="element">
          <h2>Nombre Totales de Tirage</h2>  
          <div class="circle">{{totalRows}}</div> 
       </div>
      
  </div>
  <div class="row">
    <label for="Search">Search:</label>
    <input type="text" placeholder="Search" [(ngModel)]= "searchText"/>
</div>
  <div class="table">
    <h2>Nombre Triées par Liste</h2>
        <table>
            <thead>
                <tr>
                    <th>Libellé Liste</th>
                    <th>Nombre Postulant Triées</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>


                <tr *ngFor = "let liste of Contenu | filter:searchText| paginate:{itemsPerPage:3,currentPage: p}; let i= index">
                    <td>{{liste[0]}}</td>
                    <td>{{liste[1]}}</td>

                    <td><button (click)="ngVoir()">Voir Plus</button></td>
                </tr>
            </tbody>
        </table> 
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
  